<aside [class]="menuClass">
  <div class="toggle" (click)="toggleMenu()"
  (keyup.right)="toggleMenu()"
  tabindex="0">
    <mat-icon>{{menuExpanded ? 'menu_open' : 'menu'}}</mat-icon>
  </div>
  @for (menuItem of menuItems; track menuItem) {
    <div class="menu-item"
      (click)="handleNavigation(menuItem.path)"
      (keyup.enter)="handleNavigation(menuItem.path)"
      tabindex="1">
      <mat-icon class="menu-item-icon"[fontIcon]="menuItem.icon"></mat-icon>
      <span class="menu-item-label">{{menuItem.label}}</span>
    </div>
  }
</aside>
